@{
    ViewData["Title"] = "Access Denied";
}

<div class="alert alert-danger" role="alert">
    Please contact your Administrator to access this page.
</div>
<div class="col-5 offset-2">
    <a asp-controller="Home" asp-action="Index" class="btn-primary btn form-control ">Back to Home</a>
</div>