@{
    ViewData["Title"] = "Products (Access Denied)";
}

<div class="alert alert-danger" role="alert">
    Please contact your Administrator to access this page.
</div>
<div class="col-5 offset-2">
    <a asp-action="ProductsIndex" class="btn-primary btn form-control ">Back to List</a>
</div>